@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts.css');

.page {
  width: 100%;
  min-width: 320px;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  padding: 0;
  text-align: center;
  border-radius: 3px;
  border: none;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  opacity: .7;
}

.button:disabled {
  cursor: default;
  color: #C2C2C2;
  opacity: .7;
}

.button_bg_white {
  border: 1px solid #E8E8E8;
  background-color: #fff;
}

.button_bg_black {
  background-color: #000;
  color: #fff;
}

.animation {
  opacity: 1;
  transition: .3s;
}

.animation:hover {
  opacity: .7;
}