.popup {
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s linear, opacity .5s linear;
}

.popup_type_opened {
    visibility: visible;
    opacity: 1;
}

.popup__container {
    width: 100%;
    max-width: 520px;
    height: 100%;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
}

.button-close {
    background-image: url('../../images/close.svg');
    width: 22px;
    height: 22px;
    background-size: cover;
    position: absolute;
    top: 23px;
    right: 23px;
    border: none;
    background-color: #fff;
}

.button-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.popup__nav {
    width: 100%;
    min-width: 320px;
    max-width: 520px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 159px 0 92px;
}

.popup__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.popup__item {
    margin-top: 28px;
}

.popup__item:first-of-type {
    margin-top: 0px;
}

.popup__link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.popup__link_type_account {
    display: flex;
    justify-content: center;
}

.popup__link_type_active {
    border-bottom: 2px solid #000;
    padding-bottom: 4px;
}

.popup__account {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    padding-right: 25px;
}

@media screen and (max-width: 620px) {
    .popup__nav {
        padding: 144px 0 48px;
    }
}