.navigation {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0;
}

.navigation__item:first-child {
    padding-right: 16px;
}

.navigation__link {
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    color: #000;
    line-height: 32px;
    /*Выравниваем по центру (высота li = 32px)*/
    display: flex;
}

.navigation__link_active {
    font-weight: 500;
}

.header__account {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    padding-right: 17px;
}

.header__container-burger {
    display: none;
}

@media screen and (max-width: 768px) {
    .header__content {
        padding: 18px 30px;
    }
    
    .navigation_type_white {
        display: none;
    }

    .header__list_type_white {
        display: none;
    }

    .header__container-burger {
        display: flex;
    }

    .header__burger{
        border: none;
        width: 44px;
        height: 44px;
        background-image: url(../../images/burger.svg);
        background-color: transparent;
    }

    .header__burger:hover {
        opacity: 0.6;
    }
}

@media screen and (max-width: 400px) {
    .header__content {
        padding: 18px 14px;
    }
}