.portfolio {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 100px 70px 125px;
    box-sizing: border-box;
}

.portfolio__subtitle {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    margin: 0;
}

.portfolio__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__link {
    text-decoration: none;
    color: #000;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    
    display: flex;
    justify-content: space-between;
    max-height: 50px;
}

.portfolio__item {
    border-bottom: 1px solid #E8E8E8;
    margin-top: 20px;
    padding-bottom: 19px;
}

.portfolio__link:first-child {
    margin-top: 50px;
}

.portfolio__link:last-child {
    border-bottom: none;
}

.portfolio__name {
    margin: 0;
}

.portfolio__pfeil {
    width: 29px;
    height: 60px;
    color: #000;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 90px 50px 90px;
    }

    .portfolio__link {
        font-size: 28px;
    }

}

@media screen and (max-width: 620px) {
    .portfolio {
        padding: 70px 50px 70px;
    }
    
    .portfolio__subtitle {
        font-size: 14px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
    }

    .portfolio__pfeil {
        width: 18px;
        height: 28px;
    }

    .portfolio__link:first-child {
        margin-top: 40px;
    }
}

@media screen and (max-width: 400px) {
    .portfolio {
        padding: 70px 14px 70px;
    }
    
}
